{% load static %}

<header>
    <nav class="navbar navegacao-topo fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas barra-lateral offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header header-top">
                    <img src="{% static "bibliotech/image/logo.png" %}" alt="Logo" width="250">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a href="{% url 'livros:home' %}">
                                <i class="fa-solid fa-house"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "usuarios:emprestimo" %}">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>Emprestimos</span>
                            </a>
                        </li>
                        {% if request.user.is_staff is True%}
                        <li class="nav-item">
                            <div class="dropdown ">
                                    <a class="btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-book"></i> Livro
                                    </a> 
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{% url "usuarios:livro-adicionar"%}">Adicionar livro</a></li>
                                  <li><a class="dropdown-item" href="#">Apagar livro</a></li>
                                  <li><a class="dropdown-item" href="{% url "usuarios:livro_editar_detalhe"%}">Editar livro</a></li>
                                </ul>
                              </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown ">
                                    <a class="btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-layer-group"></i> Categoria
                                    </a>
                              
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{%url "usuarios:categoria-adicionar"%}">Adicionar categoria</a></li>
                                  <li><a class="dropdown-item" href="#">Apagar categoria</a></li>
                                  <li><a class="dropdown-item" href="{%url "usuarios:categoria_editar_detalhe"%}">Editar categoria</a></li>
                                </ul>
                              </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i> Autor
                                </a>
                              
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{%url "usuarios:autor_adicionar"%}">Adicionar autor</a></li>
                                  <li><a class="dropdown-item" href="#">Apagar autor</a></li>
                                  <li><a class="dropdown-item" href="{%url "usuarios:autor_editar_detalhe"%}">Editar autor</a></li>
                                </ul>
                              </div>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="#">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                                <span>Multas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                                <form class="inline-form" action="{% url "usuarios:logout" %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="username" value="{{ request.user.username }}">
                                    <button class="plaintext-button" type='submit'><span class="logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</span></button>
                                </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>